
<div id="nav-header-wrapper" class="nav-header-wrapper">
    <div growl reference="globalSystemNotificationId" inline="true" class="global-system-notification"></div>
    <nav id="global-nav" class="navbar-default navbar-global">
        <div class="container-fluid">
            <div class="navbar-header">
                <a ui-sref="root" aria-label="BOILERPLATE LABEL" title="Boilerplate" class="navbar-brand app-brand"></a>
                <button type="button" ng-click="vm.isCollapsed = !vm.isCollapsed" class="navbar-toggle">
                    <span translate class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="global-navbar-menu" uib-collapse="vm.isCollapsed" class="collapsed collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li uib-dropdown uib-keyword-nav class="dropdown">
                        <a id="global-nav-user-dropdown" uib-dropdown-toggle href="" aria-label="vm.userDropdownAriaLabel" class="active">
                            <span class="fa fa-file-code-o"></span>Scenarios<span class="fa fa-caret-down"></span>
                        </a>
                        <ul role="menu" aria-labelledby="global-nav-user-dropdown" class="uib-dropdown-menu dropdown-menu-global-nav">
                            <li class="menuitem">
                                <a href="" ng-repeat="scenario in scenarios" ng-click="getScenario(scenario.name)">
                                    <span class="icon icon-oldapp"></span> {{ scenario.name }}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
