<!-- <div class="topnav" id="metalTopnav">
    <div class="subnav">
        <a class="items" ng-repeat="scenario in scenarios" href="#scenarios/{{ scenario.name }}">{{ scenario.name }}</a>
    </div>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="showMenu()">&#9776;</a>
</div> -->
<div class="dropdown">
    <span>&#9776;</span>
    <div class="dropdown-content">
        <a ng-repeat="scenario in scenarios" href="javascript:void(0);" ng-click="getScenario(scenario.name)">{{ scenario.name }}</a>
    </div>
</div>