<!DOCTYPE html ng-app="metal">
<!--[if lt IE 7]>      <html lang="en" ng-app="metal" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="metal" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="metal" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="metal" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Metal</title>
  <meta name="description" content="Metal app">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css"/>
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="bower_components/jqwidgets/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="bower_components/cesium/Build/CesiumUnminified/Widgets/widgets.css" type="text/css" />
  <style type="text/css">
        .jqx-layout-group-auto-hide-content-vertical
        {
            width: 200px;
        }
    </style>
</head>
<body>
<!--
<div class="topnav" id="metalTopnav">
  <a class="items" href="#home">Home</a>
  <a class="items" href="#news">News</a>
  <a class="items" href="#contact">Contact</a>
  <a class="items" href="#about">About</a>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="showMenu()">&#9776;</a>
</div>
-->


  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
<div ng-controller="ScenarioController">
    <div class="topnav" id="metalTopnav" onmouseover="showMetalMenu()" onmouseout="hideMetalMenu()">
        <a class="items" ng-repeat="scenario in scenarios" href="#{{ scenario.file_name }}">{{ scenario.name }}</a>
      <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="showMenu()">&#9776;</a>
    </div>
</div>

  <!-- <div ng-view></div> -->
   <!-- The dynamic templates will be served within this div -->
 <ui-view></ui-view>

<!--
<div ng-controller="StockController">
    <button id="exportBtn" ng-click="export($event)" > Save </button>
     <button id="importBtn" ng-click="import($event)" style="display: none"> Import </button>
</div>

 <div id="docking">
    <div>
        <div id="window1">
            <div>Line Chart</div>
            <div ng-controller="StockController">
                <nvd3 options="options" data="data"></nvd3>
            </div>
        </div>
        <div id="window2">
            <div>Pie Chart</div>
           <div ng-controller="PieController">
            <nvd3 options="options" data="data"></nvd3>
            </div>
        </div>
         <div id="window3">
            <div>Box Plot</div>
            <div ng-controller="BoxPlotController">
                <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3>
             </div>
         </div>
        <div id="window4">
            <div>Cesium</div>
             <div id="cesiumContainer" ></div>

         </div>

    </div>
</div>
-->


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <!--
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script> -->

 <!-- sample data files temp -->
 <script src="scripts/madeupdata.js"></script>
 <script src="scripts/scenario_example.js"></script>
<!--  Angular Setup -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/angular-resource/angular-resource.min.js"></script>

 <!-- angular-nvd3 -->
         <script src="bower_components/d3/d3.js"></script>
        <script src="bower_components/nvd3/build/nv.d3.js"></script> <!-- or use another assembly -->
        <script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>

 <!-- jqWidgets -->

    <script type="text/javascript" src="bower_components/jqwidgets/scripts/jquery-1.11.1.min.js"></script>
    <!-- <script type="text/javascript" src="bower_components/jqwidgets/scripts/angular.min.js"></script> -->
    <script type="text/javascript" src="bower_components/jqwidgets/scripts/demos.js"></script>
    <script type="text/javascript" src="bower_components/jqwidgets/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="bower_components/jqwidgets/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="bower_components/jqwidgets/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="bower_components/jqwidgets/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="bower_components/jqwidgets/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="bower_components/jqwidgets/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="bower_components/jqwidgets/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="bower_components/jqwidgets/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="bower_components/jqwidgets/jqwidgets/jqxnumberinput.js"></script>
    <script type="text/javascript" src="bower_components/jqwidgets/jqwidgets/jqxradiobutton.js"></script>
    <script type="text/javascript" src="bower_components/jqwidgets/jqwidgets/jqxinput.js"></script>
    <script type="text/javascript" src="bower_components/jqwidgets/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="bower_components/jqwidgets/jqwidgets/jqxribbon.js"></script>
    <script type="text/javascript" src="bower_components/jqwidgets/jqwidgets/jqxlayout.js"></script>
 <script type="text/javascript" src="bower_components/jqwidgets/jqwidgets/jqxdocking.js"></script>
    <script type="text/javascript" src="bower_components/jqwidgets/jqwidgets/jqxdockinglayout.js"></script>
    <script type="text/javascript" src="bower_components/jqwidgets/jqwidgets/jqxtree.js"></script>
    <script type="text/javascript" src="bower_components/jqwidgets/jqwidgets/jqxwindow.js"></script>
    <script type="text/javascript" src="bower_components/jqwidgets/jqwidgets/jqxangular.js"></script>
 <script type="text/javascript"  src="bower_components/cesium/Build/Cesium/Cesium.js"></script>


    <!-- Application Setup -->
    <script src="appRoutes.js"></script>
    <script src="app.js"></script>

    <script src="components/stock/services/stock.service.js"></script>
    <!--  Controllers -->
    <script src="components/stock/controllers/stock.controller.js"></script>
    <script src="components/charts/services/pie.service.js"></script>
    <script src="components/charts/controllers/pie.controller.js"></script>
    <script src="components/charts/services/boxplot.service.js"></script>
    <script src="components/charts/controllers/boxplot.controller.js"></script>
    <script src="components/charts/services/line.service.js"></script>
    <script src="components/charts/controllers/line.controller.js"></script>
    <script src="components/cesium/controllers/cesium.controller.js"></script>
    <script src="components/cesium/services/cesium.service.js"></script>
    <script src="components/scenario/controllers/scanario.controller.js"></script>
    <script src="components/scenario/services/scenario.service.js"></script>

    <script type="text/javascript">
       /* $(document).ready(function () {
            // Create jqxDocking
            $("#docking").jqxDocking({ width: 250, theme: 'classic' });
            $("#importBtn").click();
        }); */
    </script>

<script>
  /*  $("metalTopnav").onmouseover(funtion(){
        this.className += " responsive";
    });
    $("metalTopnav").onmouseout(funtion(){
       this.className = "topnav ng-scope";
    });*/

function showMetalMenu(){
    var x = document.getElementById("metalTopnav");
    x.className += " responsive";
}
function hideMetalMenu(){
    var x = document.getElementById("metalTopnav");
    x.className =  "topnav ng-scope";
}

function showMenu() {
    var x = document.getElementById("metalTopnav");
    if (x.className === "topnav ng-scope") {
        x.className += " responsive";
    } else {
        x.className = "topnav ng-scope";
    }
}
</script>

<script>
/*
var viewer = new Cesium.Viewer('cesiumContainer');

for (var i=0; i<metaldata.sites.length; i++) {
var site = metaldata.sites[i];
viewer.entities.add({
  id : site.name,
  name : site.name,
	description : 'Location: '+site.location[0]+', '+site.location[1]+'<br>'+
	'Risk Type: '+site.risk.type+'<br>'+
		'Needed Asset Types: '+site.needed_asset_types,
  position : Cesium.Cartesian3.fromDegrees(site.location[1], site.location[0]),
  point : {
    pixelSize : 5,
	color : Cesium.Color.RED,
	outlineColor : Cesium.Color.WHITE,
	outlineWidth : 2
  },
  label : {
	text : site.name,
    font : '14pt monospace',
    style: Cesium.LabelStyle.FILL_AND_OUTLINE,
    outlineWidth : 2,
    verticalOrigin : Cesium.VerticalOrigin.BOTTOM,
    pixelOffset : new Cesium.Cartesian2(0, -9)
  }
});
}

viewer.zoomTo(viewer.entities);

for (var i=0; i<missionsites.sites.length; i++) {
var site = missionsites.sites[i];
viewer.entities.add({
  id : site.name,
  name : site.name,
  description : 'some description.',
  position : Cesium.Cartesian3.fromDegrees(site.location[1], site.location[0]),
  point : {
    pixelSize : 3,
	color : Cesium.Color.BLUE,
	outlineColor : Cesium.Color.WHITE,
	outlineWidth : 1
  }
});
}

for (var i=0; i<riskareas.areas.length; i++) {
var area = riskareas.areas[i];
var degarray = [];
for (var j=0; j<area.verteces.length; j++) {
  degarray.push(area.verteces[j][1]);
  degarray.push(area.verteces[j][0]);
}
degarray.push(area.verteces[0][1]);
degarray.push(area.verteces[0][0]);

var rcolor = Cesium.Color.WHITE;
if (area.level == 'high')
  rcolor = Cesium.Color.RED;
else if (area.level == 'medium')
  rcolor = Cesium.Color.ORANGE;
else if (area.level == 'low')
  rcolor = Cesium.Color.YELLOW;

	viewer.entities.add({
		id : area.name,
		name : area.name,
		description : 'Threat Level: '+area.level,
		polygon : {
			hierarchy : Cesium.Cartesian3.fromDegreesArray(degarray),
			material : (rcolor).withAlpha(0.5),
			fill : true,
			height : 0,
			outline : true,
			outlineColor : rcolor,
			outlineWidth : 5
		}
	});
}

for (var i=0; i<routes.routes.length; i++) {
var route = routes.routes[i];
var degarray = [];
for (var j=0; j<route.waypoints.length; j++) {
  degarray.push(route.waypoints[j][1]);
  degarray.push(route.waypoints[j][0]);
}
viewer.entities.add({
  id : route.name,
  name : route.name,
  polyline : {
    positions : Cesium.Cartesian3.fromDegreesArray(degarray),
    width : 5,
    material : new Cesium.PolylineGlowMaterialProperty({
	glowPower : 0.2,
	color : Cesium.Color.BLUE
    })
  }
});
}
*/
  </script>

</body>
</html>
